html {
    
}
h1{
     text-align: center;
    font-size: 3vw;
 color: #B37672;
}
 h2, h3{
    text-align: center;
    font-size: 2vw;
 color: #B37672;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #A0E8A8;
}
.cafeteria-img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    height: auto;
    padding: 20px;
    background-color: #C9E8A0;
    border: double;
}
.subtema {
    margin-top: 40px;
}

p,ol,ul{
    font-size: 1.2vw;
    
}

